body {
    background-image:url("./images/blackBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    text-align: center;
    text-justify: auto;
    
    
  }
  
  h1 {
    color: rgb(146, 8, 70);
    text-align: center;
  }
  p{
    color: chartreuse;
  }
  h2{
    color:rgb(146, 8, 70)
  }